<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thêm mới điện thoại </title>
</head>
<body>
<div>
    <h1>Thêm mới điện thoại</h1>
    <form action="/phones/add" method="post">
        <div>
            <label for="tenDienThoai">Tên điện thoại:</label>
            <input type="text" id="tenDienThoai" name="tenDienThoai" />
        </div>
        <div>
            <label for="diaChi">Địa chỉ:</label>
            <input type="text" id="diaChi" name="diaChi" />
        </div>
        <div>
            <label for="giaVon">Giá vốn:</label>
            <input type="text" id="giaVon" name="giaVon" />
        </div>
        <div>
            <label for="loai">Loại:</label>
            <input type="text" id="loai" name="loai" />
        </div>
        <div>
            <label for="nhaCungCap">Nhà cung cấp:</label>
            <input type="text" id="nhaCungCap" name="nhaCungCap" />
        </div>
        <div>
            <button type="submit">Lưu</button>
        </div>
    </form>
</div>

</body>
</html>